body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #9e9c9c;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 200px;
  overflow-y: auto;
  background-color: #333;
  color: #221e1e;
}

#sidebar img {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #666;
}

#sidebar img:hover {
  background-color: #555;
}

#image-description {
  flex: 1;
  padding: 20px;
  background-color: #5b5656;
  color: #eee7e7;
  border-left: 1px solid #ccc;
}

/* Styling for the container */
#container {
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

/* Resetting default margin and padding for images */
img {
  margin: 0;
  padding: 0;
}
