body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #9e9c9c;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 250px;
  overflow-y: auto;
  background-color: #fdf3f3;
  color: #f2dbdb;
}

#sidebar img {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #f0dede;
}

#sidebar img:hover {
  background-color: #555;
}

#image-description {
  flex: 1;
  padding: 200px;
  background-color: #000000;
  color: #eee7e7;
  border-left: 5px solid #ccc;
}

#container {
  border: 2px solid #000000;
  border-radius: 5px;
  overflow: hidden;
}
img {
  margin: 5;
  padding: 2;
}
